@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400");

/*PADRÃO*/

html {
	overflow-x: hidden;
}

body {
	font-family: 'Source Sans Pro', sans-serif;
	margin-top: 64px;
	background-color: white;
	overflow-x: hidden;
	color: #3c3c3b;
}

ul {
	list-style: none;
	padding-left: 0;
}

a {
  text-decoration: none;
  color: #3c3c3b;
}

button {
  outline: none;
}

.container {
	width: 90%;
	margin: 0 auto;
}

.linha {
	display: flex;
  align-items: center;
}

.space-between {
	display: flex;
	justify-content: space-between;
}

.align-center {
	display: flex;
	align-items: center;
}

.botao.transparente {
	background: none;
	border: none;
}

.fa {
	font-size: 1em;
}

.botao.inteiro {
	width: 100%;
	height: auto;
	padding: 10px;
	background: none;
	border: solid 1px #9d9d9c;
	border-radius: 4px;
	color: #9d9d9c;
	margin: 20px 0;
}

.botao.inteiro:hover {
	border: solid 1px #e40523;
	color: #e40523;
}

i[class^="fa fa-angle"] {
	font-size: 1.5em;
}

/*TAG*/

/*ID*/

#header {
	height: 64px;
  position: fixed;
  width: 100vw;
  top: 0;
  left: 0;
	background: white;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

#menu {
	position: absolute;
}

#logo {
	flex-grow: 1;
}

#logo h1 {
	height: 50px;
	background: url("../img/logo.svg") no-repeat;
	overflow: hidden;
	text-indent: -999999999px;
	margin: 0;
	background-position: center;
}

#slider {
    position: relative;
}

#slides {
    align-items: flex-start;
    height: 300px;
		text-align: center;
		transform: translateX(0);
		transition: transform .5s ease-in-out;
}

#slides img {
    border-style: none;
    height: 100%;
    width: 100vw;
    object-fit: cover;
		position: relative;
		z-index: 100;

}

#search {
	border: solid 1px #dadada;
	border-radius: 4px;
}

/*CLASS*/

.topo {
	height: 64px;
}

.botao.transparente img {
	height: 34px;
}

.abrir-fechar-menu {
	padding: 10px 24px;
}

.abrir-fechar-menu > img.ativo {
	display: block;
}

.abrir-fechar-menu img {
	display: none;
}

.menu-hamburguer {
	display: none;
}

.menu-hamburguer.ativo {
	display: block;
	background: white;
	height: 100vh;
	width: 100vw;
	position: fixed;
}

.menu-hamburguer ul {
	padding: 24px;
	margin: 0;
	list-style: none;
	font-size: 1.3em;
	line-height: 3em;
}

.menu-hamburguer li a {
	text-decoration: none;
	color: #3c3c3b;
	font-weight: 300;
}

.menu-hamburguer li a:hover {
	color: #e40523;
}

.divisor {
	height: 1px;
	background-color: #c6c6c6;
}

.divisor.menu {
	margin: 19px 0;
}

.divisor.secao {
	margin-top: 32px;
  margin-bottom: 32px;
}

.slide {
  height: 250px;
}

.slide h2 {
	font-size: 1.4em;
  font-weight: 300;
}

.setas {
  position: absolute;
  top: 0;
  height: 250px;
  width: calc(100% - 32px);
  padding: 0 16px;
  display: flex;
  justify-content: space-between;
}

.seta i {
	color: white;
}

.seta.direita i {
    text-shadow: -1px 0px 7px #1d1d1b;
}

.seta.esquerda i {
    text-shadow: 1px 0px 7px #1d1d1b;
}

.bullets ul {
    justify-content: center;
    margin: 16px 0 32px 0;
}

.bullets .bullet {
    height: 6px;
    width: 6px;
    background-color: #c6c6c6;
    border-radius: 50%;
    margin: 0 4px;
}

.bullets .bullet.active {
    background-color: #e40523;
}

.busca-escrita {
	border-bottom: solid 1px #dadada;
	padding: 15px;
	position: relative;
}

.busca-escrita span {
	position: absolute;
	color: #b2b2b2;
	top: 33%;
}

.busca-escrita input {
	border: none;
	text-align: center;
	width: 100%;
	font-size: 1em;
	font-weight: 300;
}

.filtros {
    height: 50px;
    justify-content: space-between;
}

.filtros p {
	font-size: 1em;
	font-weight: 300;
}

.filtros .botao.transparente {
    width: 33%;
    justify-content: center;
    padding: 0;
    border-right: solid 1px #dadada;
}

.filtros .botao.transparente:last-child {
    border-right: none;
}

.filtros i,
.colecao i {
	color: #3c3c3b;
	margin-left: 10px;
	color: #575756;
}

#colecoes h3,
.colecao h4 {
	font-size: 1em;
	font-weight: 300;
}

#colecoes h3 {
	text-align: center;
}

.colecao a {
	font-size: 14px;
	font-weight: 300;
}

.colecao i {
	margin-left: 5px;
}

.colecao img {
  max-width: 100%;
}

#footer {
	height: 64px;
	box-shadow: 0px -1px 2px rgba(0, 0, 0, 0.1);
}

.redes-sociais {
    max-width: 70px;
}

.redes-sociais a {
	color: #e40523;
}

.redes-sociais a:hover {
	color: #c6c6c6;
}
